*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav{
    background-color: #FFFFFF;
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    text-transform: capitalize;
}

nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

/* Shared Class */
.button{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    cursor: pointer;
    text-transform: capitalize;
}

/* Main Style */
#hero{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    max-width: 1600px;
    /* height: 674px; */
    margin: 0 auto;
    padding: 115px 120px 179px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 40px; */
}

.hero-content{
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.hero-content .early-access{
    color: #30B868;
    background-color: #FFFFFF;
    border-radius: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 6px;
}


.early-access p{
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    text-transform: capitalize;
}

.hero-title h1{
    color: #FFFFFF;
    opacity: 90%;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.hero-title span{
    color: #30B868;
    opacity: 90%;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
}


.hero-content .p p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.hero-content .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}
.btn .button{
    color: #ffffff;
    align-items: left;
    text-transform: capitalize;
    padding: 16px;
}

.btn .button2{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 16px;
    cursor: pointer;
}

#cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    padding: 120px;
}

.heading h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #001931;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.heading p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #627382;
}

.card-container{
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-bottom: 48px;
}

.card-container .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.06);
    }

.card .card-icon{
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F95555;
    border-radius: 50%;
}

.card-icon img{
    height: 32px;
    width: 32px;
}

.card h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #001931;
    text-align: center;
}

.card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;    
    text-align: center;    
    color: #627382;
    text-align: center;    
}

#knowledge{
    margin: 0 auto;
    max-width: 1600px;
    padding: 120px;
}

.knowledge-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.knowledge-content{
    margin: 102px 0 102px 60px;
}

.knowledge-content h6{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.knowledge-content h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #001931;
    text-align: left;
    text-transform:capitalize;
    margin-bottom: 16px;
}

.knowledge-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    text-align: left;
    margin-bottom: 40px;
}

.knowledge-content .ul li{
    color: #001931;
    align-items: center;
    list-style: none;
    gap: 16px;
}


