*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav{
    background-color: #FFFFFF;
    max-width: 1600px;
    margin: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

/* Shared Class */
.button{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    cursor: pointer;
}

